<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="common/layer(title='人员管理')">
<div th:fragment="main_content">
    <div  id="personManage" v-cloak>
        {{srcUrl}}
    </div>
    <script th:inline="javascript">
        let personManageVm = new Vue({
            el: '#personManage',
            data: {
                srcUrl: ''
            },
            mounted() {
                this.init();
            },
            methods: {
                init() {
                    this.srcUrl = "personManage.html";
                }
            }
        });
    </script>
</div>

</html>
