<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <base th:href="@{/}">
    <script src="scripts/head.js"></script>
</head>
<body>
<div id="personManage" v-cloak >
    {{srcUrl}}
</div>
</body>
<script th:inline="javascript">
    let path=[[${#httpServletRequest.getContextPath()}]];
</script>
<script>
    let personManageVm=new Vue({
        el:'#personManage',
        data:{
            srcUrl:''
        },
        mounted(){
            this.init();
        },
        methods:{
            init(){
                this.srcUrl="personManage.html";
            }
        }
    });
</script>
</html>
